<div>
<p>
<p>Each spell that can be prepared will have a checkbox. To prepare a spell, click the checkbox. Click a checked spell to unprepare it.</p>
<p>A count of the number of spells that have been prepared and the maximum number that can be prepared are displayed at the top of the dialog box for each class that prepares spells.</p>
<p>If you have prepared the maximum number of spells, you won't be able to select another for that class. Unprepare a spell for that class to reduce the number below the maximum.</p>
<p>Spells that cannot be prepared will be included in the spell list for informational purposes, marked by their type:</p>
<table>
<tr><td><b>&check;</b></td><td>Always prepared (cleric domain spells, etc.)</td></tr>
<tr><td><b>AW</b></td><td>At-will (special class spells)</td></tr>
<tr><td><b>Inn</b></td><td>Innate (racial spells)</td></tr>
<tr><td><b>P</b></td><td>Pact magic (warlock spells)</td></tr>
</table>

<h3>Multiple Spellcasting Classes</h3>
<p>If the character prepares spells with multiple classes, you'll need to categorize each spell with the class. A drop-down list box is provided for each prepared spell to indicate this.</p>
<p>If you change the class of a prepared spell, it may increase the number of prepared spells above the maximum for that class. Be sure to deselect a spell to reduce the number of prepared spells to the limit.</p>

</div>